@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  html {
    scroll-behavior: smooth;
  }
}

/* Efeito Rolar Scroll */
.writing-mode-vertical-lr {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

@keyframes tremor {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-2px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(3px);
  }
}

.animate-tremor {
  animation: tremor 0.9s infinite;
}

/* Efeito Digitação */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  display: inline-block;
  width: 3px;
  margin-left: 6px;
  animation: blink 1s infinite;
}
